@page "/"
@using CekikilaAuto.Client.Layout
@using CekikilaLib
@using CekikilaWasm.Models

@inject IItemsService data

<SectionContent SectionName="head">
    <section class="px-2 py-5 text-center container-fluid">
        <div class="row py-lg-5">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">@teaser</h1>
            </div>
        </div>
    </section>
</SectionContent>

<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    @if(Items is null)
    {
        <p>Chargement des objets...</p>
    }
    else
    {
        @foreach (var obj in Items)
        {
            <div class="col">
                <Card 
                Image=@string.Format("img/obj-{0}.jpg", obj.Id) 
                Title=@obj.Name
                style="border:1px solid #000"
                class="exemple"
                @onmousedown="e => UpdateTeaser(obj)"
                @onmouseleave="ResetTeaser"
                >
                    <Description>@obj.Description</Description>
                    <Footer>
                        <div class="btn-group">
                            <a href="item/@obj.Id" class="btn btn-sm btn-primary">Réserver</a>
                            <button type="button" class="btn btn-sm btn-secondary">Voir dispo</button>
                        </div>
                        <small class="text-muted">9 mins</small>
                    </Footer>
                </Card>
            </div>
        }
    }
</div>

@code {
    private IEnumerable<ItemDto>? Items = null;

    // Initialisation qui ne dépend pas des paramètres => OnInitialize(Async)
    protected override async Task OnInitializedAsync()
    {
        Items = await data.GetAllItemsAsync();
    }

    private void UpdateTeaser(ItemDto item)
    {
        teaser = $"N'achète pas de {item.Name}, je l'ai";
    }
    private void ResetTeaser()
    {
        teaser = DefaultTeaser;
    }
    private const string DefaultTeaser = "Ne l'achète pas, je l'ai";

    private string teaser = DefaultTeaser;
}
