@page "/offer"
@using CekikilaLib

@implements IDisposable

@inject NavigationManager nav
@inject IJSRuntime js

<h3>Offer : @editedItem.Name</h3>

<EditForm Model="editedItem">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <div class="mb-3">
        <label for="Name" class="form-label">Name</label>
        <InputText @bind-Value="editedItem.Name" class="form-control" />
        <ValidationMessage For="@(() => editedItem.Name)" />
    </div>

    <button type="submit">Submit</button>

</EditForm>

@code {
    private ItemDto editedItem = new ItemDto() { Name="?", Owner="?", Tags=[] };

    private IDisposable? registration = null;

    public void Dispose()
    {
        registration?.Dispose();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender && RendererInfo.IsInteractive)
        {
            registration = nav.RegisterLocationChangingHandler(async (args) =>
            {
                if (!string.IsNullOrWhiteSpace(editedItem.Name))
                {
                    var result = await js.InvokeAsync<bool>("confirm", "Votre formulaire n'est pas validé, continuer ?");
                    if (!result)
                    {
                        args.PreventNavigation();
                    }
                }
            });
        }
    }
}